@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-exo: "Exo 2", sans-serif;
  --color-main: #1e90ff;
  --shadow-main: 0 0 5px #1e90ff;
}

@layer utilities {
  .text-neon {
    text-shadow: 0 0 1px #fff, 0 0 20px #1e90ff, 0 0 30px #1e90ff,
      0 0 40px #1e90ff;
  }
}
